@use 'variables';

@mixin desktop-view($width, $height: unset, $fn-size: unset){

    @media (min-width: 1440px){
        width: $width;
        height: $height;
        font-size: $fn-size;
    }
}

@mixin button ($bg-color, $br-color, $fn-color, $fn-size, $width, $heigth, $center:unset){
    background-color: $bg-color;
    border: none;
    border: 1px solid $br-color;
    border-radius: 50px;
    color: $fn-color;
    font-size: $fn-size;
    width: $width;
    height: $heigth;
    display: block;
    @if $center == true{
        margin: 0 auto;
    }
} 

@mixin button-hover($bg-color, $fn-color, $br-color:unset, $fn-size:unset) {
    &:hover{
        cursor: pointer;
        border-color: $br-color;
        background-color: $bg-color;
        color: $fn-color;
        font-size: $fn-size;
    }
}

@mixin flexSections{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

   .image-container__illustration{
    width: 300px;
    margin-bottom: 30px;
   }
   .description{
    &__title{
        font-family: variables.$headings-font;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 10px;
    }
    &__content{
        text-align: center;
        font-size: 1rem;
        width: 330px;

    }
   }
}

@mixin flexSections-desktop($direccion: row){
    @media(min-width: 1440px){
        flex-direction: $direccion;
        justify-content: space-around;

        .image-container__illustration{
            width: 580px;
           }
           .description{
            &__title{
                font-family: variables.$headings-font;
                font-size: 2.5rem;
                text-align: left;
                margin-bottom: 10px;
            }
            &__content{
                text-align: left;
                font-size: 1.5rem;
                width: 450px;
        
            }
           }
    }
}

@mixin stats-desktop {
    @media(min-width: 1440px){
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 400px;
        .comunities{
            &__section-stats{
                font-size: 6rem !important;
            }
            &__description{
                font-size: 1.7rem !important;     
            }
            &__section-logo-cohete{
                margin-top:-50px !important;
                width: 164px !important;
            }
        }    
    }
}

@mixin equipo-desktop {
    @media(min-width: 1440px){
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 400px;
        .comunities{
            &__section-logo:hover{
                width: 250px;
            }
            &__section-stats{
                font-size: 2rem !important;
            }
            &__description{
                font-size: 1.2rem !important;
                width: 300px;   
            }
        }    
    }
}
