@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");
body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  color: rgb(8, 44, 78);
}

.main-container {
  width: 375px;
  margin: 0 auto 25px;
}
@media (min-width: 1440px) {
  .main-container {
    width: 1440px;
    height: unset;
    font-size: unset;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 25px auto 100px;
}
@media (min-width: 1440px) {
  .navbar {
    width: 1300px;
    height: unset;
    font-size: unset;
  }
}
.navbar__logo {
  width: 164px;
}
@media (min-width: 1440px) {
  .navbar__logo {
    width: 240px;
    height: unset;
    font-size: unset;
  }
}
.navbar__button {
  border: none;
  border-radius: 50px;
  background-color: #fff;
  border: none;
  border: 1px solid rgb(36, 150, 202);
  border-radius: 50px;
  color: rgb(36, 150, 202);
  font-size: 14px;
  width: 164px;
  height: 40px;
  display: block;
}
@media (min-width: 1440px) {
  .navbar__button {
    width: 240px;
    height: 40px;
    font-size: 18px;
  }
}
.navbar__button:hover {
  cursor: pointer;
  border-color: unset;
  background-color: rgb(36, 150, 202);
  color: #fff;
  font-size: unset;
}

.header__title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 256px;
  font-size: 1.48rem;
  margin: 0 auto 36px;
  color: rgb(8, 44, 78);
}
@media (min-width: 1440px) {
  .header__title {
    width: 1010px;
    height: unset;
    font-size: 3rem;
  }
}
.header__description {
  text-align: center;
  margin: 0 auto 80px;
  font-weight: 600;
  font-size: 1rem;
  width: 290px;
  color: rgb(8, 44, 78);
}
@media (min-width: 1440px) {
  .header__description {
    width: 800px;
    height: unset;
    font-size: 2rem;
  }
}
.header__button {
  border: none;
  border-radius: 50px;
  display: block;
  margin: 0 auto;
  background-color: rgb(0, 63, 92);
  border: none;
  border: 1px solid rgb(0, 63, 92);
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  width: 240px;
  height: 60px;
  display: block;
  margin-bottom: 100px;
}
@media (min-width: 1440px) {
  .header__button {
    width: 480px;
    height: 96px;
    font-size: 20px;
  }
}
.header__button:hover {
  cursor: pointer;
  border-color: rgb(8, 44, 78);
  background-color: rgb(8, 44, 78);
  color: #fff;
  font-size: 22px;
}
.header__screen-mockups {
  width: 300px;
  display: block;
  margin: 0 auto 100px;
}
@media (min-width: 1440px) {
  .header__screen-mockups {
    width: 1020px;
    height: 725px;
    font-size: unset;
  }
}

.section-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1440px) {
  .section-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 400px;
  }
  .section-stats .comunities__section-stats {
    font-size: 6rem !important;
  }
  .section-stats .comunities__description {
    font-size: 1.7rem !important;
  }
}
.section-stats .comunities {
  width: 330px;
  margin-bottom: 40px;
}
.section-stats .comunities__section-logo {
  width: 64px;
  display: block;
  margin: 0 auto;
}
.section-stats .comunities__section-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
  margin: 0;
}
.section-stats .comunities__description {
  font-size: 1rem;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.section-creciendo-juntos {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  background-color: rgb(243, 243, 243);
}
.section-creciendo-juntos .image-container__illustration {
  width: 300px;
  margin-bottom: 30px;
}
.section-creciendo-juntos .description__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
}
.section-creciendo-juntos .description__content {
  text-align: center;
  font-size: 1rem;
  width: 330px;
}
@media (min-width: 1440px) {
  .section-creciendo-juntos {
    flex-direction: row;
    justify-content: space-around;
  }
  .section-creciendo-juntos .image-container__illustration {
    width: 580px;
  }
  .section-creciendo-juntos .description__title {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 10px;
  }
  .section-creciendo-juntos .description__content {
    text-align: left;
    font-size: 1.5rem;
    width: 450px;
  }
}

.section-meet-people {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.section-meet-people .image-container__illustration {
  width: 300px;
  margin-bottom: 30px;
}
.section-meet-people .description__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
}
.section-meet-people .description__content {
  text-align: center;
  font-size: 1rem;
  width: 330px;
}
@media (min-width: 1440px) {
  .section-meet-people {
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .section-meet-people .image-container__illustration {
    width: 580px;
  }
  .section-meet-people .description__title {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 10px;
  }
  .section-meet-people .description__content {
    text-align: left;
    font-size: 1.5rem;
    width: 450px;
  }
}

.section-collaborators {
  margin-bottom: 20px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  background-color: rgb(243, 243, 243);
}
.section-collaborators .image-container__illustration {
  width: 300px;
  margin-bottom: 30px;
}
.section-collaborators .description__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
}
.section-collaborators .description__content {
  text-align: center;
  font-size: 1rem;
  width: 330px;
}
@media (min-width: 1440px) {
  .section-collaborators {
    flex-direction: row;
    justify-content: space-around;
  }
  .section-collaborators .image-container__illustration {
    width: 580px;
  }
  .section-collaborators .description__title {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 10px;
  }
  .section-collaborators .description__content {
    text-align: left;
    font-size: 1.5rem;
    width: 450px;
  }
}

.newsletter {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 8, 10);
  color: white;
}

.newsletter-contact__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
.newsletter-contact__description {
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
